<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="shubo" translate="label" sortOrder="400">
            <label>Shubo</label>
        </tab>

        <section id="shubo_company" translate="label" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Company Accounts</label>
            <tab>shubo</tab>
            <resource>Shubo_CompanyAccount::config</resource>

            <group id="general" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Company Accounts</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow B2B company registration and management.</comment>
                </field>

                <field id="registration_enabled" translate="label comment" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Company Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow visitors to register new companies from the storefront.</comment>
                    <depends>
                        <field id="shubo_company/general/enabled">1</field>
                    </depends>
                </field>

                <field id="auto_approve" translate="label comment" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Auto-Approve New Companies</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If disabled, new companies require manual admin approval.</comment>
                    <depends>
                        <field id="shubo_company/general/enabled">1</field>
                    </depends>
                </field>
            </group>

            <group id="email" translate="label" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Notifications</label>

                <field id="admin_notification_email" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Admin Notification Email</label>
                    <comment>Email address to receive new company registration notifications. Leave empty to use general contact.</comment>
                    <validate>validate-email</validate>
                    <depends>
                        <field id="shubo_company/general/enabled">1</field>
                    </depends>
                </field>

                <field id="registration_pending_template" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Registration Pending Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="approved_template" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Approved Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="rejected_template" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Rejected Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="invitation_template" translate="label" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User Invitation Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
